.gradle/
build/
local.properties
captures/
.externalNativeBuild/
.cxx/
*.apk
*.aab
*.jks
!keystore/*.jks
*.keystore
!keystore/*.keystore

node_modules/
.svelte-kit/
.vercel/
dist/
coverage/
*.log
.DS_Store

